@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');

@font-face {
    src: url('/fonts/EveryTEXTRegular.woff2') format("woff2");
    font-family: 'Every';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    src: url('/fonts/EveryTEXTRegularItalic.woff2') format("woff2");
    font-family: 'Every';
    font-style: italic;
    font-weight: normal;
    font-display: swap;
}


@font-face {
    src: url('/fonts/EveryHEADBold.woff2') format("woff2");
    font-family: 'Every';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
}


@font-face {
    src: url('/fonts/PangeaVAR_2.000.woff2') format("woff2");
    font-family: 'Pangea';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    src: url('/fonts/PangeaVAR_2.000.woff2') format("woff2");
    font-family: 'Pangea';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    src: url('/fonts/PangeaVAR_2.000.woff2') format("woff2");
    font-family: 'Pangea';
    font-style: italic;
    font-weight: normal;
    font-display: swap;
}


@font-face {
    src: url('/fonts/PangeaVAR_2.000.woff2') format("woff2");
    font-family: 'Pangea';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
}

@viewport {
    width: device-width;
}

:root,
::after,
::before {
    --dark-background-color: #202020;
    --darker-background-color: #101010;
    --light-background-color: #303030;
    --primary-color: #0575E6;
    --secondary-color: #00F260;
    --tertiary-color: hsl(9, 100%, 47%);
    --accent-color: #66d9ed;
    --text-light-color: #fff;
    --text-lighter-color: rgb(230, 230, 230);
    --shadow-color: #1f1e1d;
    --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

html {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden !important;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Pangea', 'Noto Color Emoji', sans-serif;
    font-kerning: normal;
    font-weight: 400;
    line-height: 1.4;
}

section {
    width: 100vw;
}

.intro {
    position: relative;
    background: linear-gradient(45deg, var(--primary-color), var(--secondary-color));
    min-height: calc(100vh);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 5rem;
}

.intro .container {
    height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.profile-card {
    width: 100%;
    max-width: max(800px, calc(50vw + 10px));
    margin: 0 30px;
    padding: 40px 30px 30px;
    background: var(--light-background-color);
    text-align: center;
    border-radius: 20px;
    transition: all 200ms ease;
}

.profile-card:hover {
    box-shadow: 0px 5px 10px -3px var(--shadow-color);
    transform: translate3d(0, -3px, 0);
}

.profile-card header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.profile-card header .avatar {
    display: inline-block;
    position: relative;
    height: max(8rem, calc(9vw + 10px));
    width: max(8rem, calc(9vw + 10px));
    margin-top: min(-5rem, calc(-7vw - 10px));
    isolation: isolate;
}

.avatar img {
    border-radius: 50%;
}

.profile-card header .avatar::after {
    --border-width: 2px;
    display: block;
    position: absolute;
    content: '';
    z-index: -1;
    top: calc(var(--border-width) * -1);
    right: calc(var(--border-width) * -1);
    left: calc(var(--border-width) * -1);
    bottom: calc(var(--border-width) * -1);
    border-radius: 50%;
    background: linear-gradient(45deg, var(--primary-color), var(--secondary-color));
}


.profile-card header h1 {
    display: inline;
    font-family: 'Every', 'Noto Color Emoji', serif;
    font-size: max(2.5rem, calc(3vw + 0.5rem));
    background: -webkit-linear-gradient(45deg, var(--primary-color), var(--secondary-color));
    background: linear-gradient(45deg, var(--primary-color), var(--secondary-color));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 150% 150%;
    font-weight: 900;
    margin-block-start: 20px;
}

.profile-card header h2 {
    display: inline;
    font-size: max(1.5rem, calc(1.25vw + 0.5rem));
    color: #ededed;
    font-weight: 200;
    margin-block-start: 14px;
}

strong,
.bold {
    font-weight: 700;
}

em {
    font-style: italic;
    font-variation-settings: "ital" 1;
}

.green {
    color: var(--secondary-color) !important;
}

.red {
    color: var(--tertiary-color) !important;
}

.blue {
    color: var(--primary-color) !important;
}

.orange {
    color: #e6b205 !important;
}

.profile-card header h2 strong {
    color: var(--primary-color);
}

.profile-card .inline-link {
    transition: var(--transition);
}

.profile-card-location {
    display: inline;
    color: #fff;
    font-size: max(1.5rem, calc(1.25vw + 0.5rem));
    font-weight: 600;
    margin-block-start: 10px;
}

.profile-card-social {
    margin-top: 40px;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(6, 70px);
    justify-content: center;
}

.profile-card-social__item {
    display: inline-flex;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: #405de6;
    position: relative;
    font-size: 35px;
    transition: all 0.3s;
}

@media screen and (max-width: 670px) {
    .profile-card-social {
        grid-template-columns: repeat(3, 70px);
        column-gap: 30px;
    }
}

@media screen and (max-width: 500px) {
    .profile-card-social {
        grid-template-columns: repeat(3, 60px);
        column-gap: 15px;
    }

    .profile-card-social__item {
        width: 60px;
        height: 60px;
    }
}

@media screen and (min-width: 768px) {
    .profile-card-social__item:hover {
        transform: scale(1.2);
    }
}

.profile-card-social__item.mail {
    background: linear-gradient(45deg, #6b4b06, #cc9855);
}

.profile-card-social__item.linkedin {
    background: linear-gradient(45deg, #0b5e86, #0e76a8);
}

.profile-card-social__item.facebook {
    background: linear-gradient(45deg, #3b5998, #0078d7);
}

.profile-card-social__item.instagram {
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}

.profile-card-social__item.github {
    background: linear-gradient(45deg, #333333, #626b73);
}

.profile-card-social__item.discord {
    background: linear-gradient(45deg, #373d81, #5865F2);
}

.profile-card-social .icon-font {
    display: inline-flex;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--dark-background-color);
}

.about .container {
    max-width: 900px;
    margin: 0 50px;
}

.about-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    margin-block-start: 10rem;
    margin-block-end: 8rem;
    color: var(--text-light-color);
    font-size: 1.375rem;
    color: var(--text-lighter-color);
}

.about-container h2 {
    font-size: 4rem;
    margin-block-end: 30px;
}

.secondary-font {
    font-family: 'Every', serif;
}

.about strong,
.about em,
.about h2 {
    color: var(--text-light-color);
}

.skills {
    background-color: var(--dark-background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    isolation: isolate;
}

.skills .container {
    max-width: 600px;
    margin: 0 50px;
}

.skills-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    margin-block-start: 3rem;
    margin-block-end: 7rem;
    color: var(--text-lighter-color);
}

.skills .section-title {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    font-family: 'Every', serif;
    font-size: 3rem;
    color: var(--text-light-color);
}

.skills .section-title h2 {
    display: inline;
}

.skills .section-title::before {
    content: "";
    display: inline-block;
    height: 1px;
    width: calc(35% - 2rem);
    margin-right: 1.5rem;
    background-color: #888;
}

.skills .section-title::after {
    content: "";
    display: inline-block;
    height: 1px;
    width: calc(35% - 2rem);
    margin-left: 1.5rem;
    background-color: #888;
}

.skill-table {
    display: grid;

    margin-right: auto;
    margin-left: auto;
    position: relative;
    margin-top: 3rem;
}


.skill-column {
    position: relative;
    display: flex;
}

.skill-container {
    display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    align-content: flex-start;
    border-style: solid;
    border-color: #a3a3a3;
    border-width: 3px 3px 1.5px 3px;
    padding: 40px 30px;
    isolation: isolate;
}

.skill-column:last-child>.skill-container {
    border-bottom-width: 3px;
}

.skill-title {
    position: relative;
    width: 100%;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-block-end: 1.5rem;
    color: var(--text-light-color);
}

.skill-icon {
    grid-column: 1;
}

.skill-title h3 {
    font-family: 'Pangea', sans-serif;
    font-size: 1.75rem;
    font-weight: 900;
    line-height: 1.1;
    z-index: 0;
    margin-left: 1rem;
}

.underline {
    position: relative;
}

.underline::after {
    content: "";
    position: absolute;
    bottom: 5.5%;
    z-index: -1;
    height: 0.3em;
    width: 104%;
    left: -1%;
}

.underline-blue::after {
    background-color: #116fce;
}

.underline-green::after {
    background-color: #15c55c;
}

.underline-orange::after {
    background-color: #b89217;
}

.skill-content {
    font-size: 1.25rem;
}

@media screen and (min-width: 1000px) {
    .skill-table {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .skill-container {
        border-width: 3px 1.5px 3px 3px;
    }

    .skill-column:last-child>.skill-container {
        border-right-width: 3px;
    }

    .skills .container {
        max-width: 1100px;
    }
}

.skill-content h4 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: #66d9ed;
    font-weight: 900;
}

.chips-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
}

.chips-container>*,
.chip {
    display: inline-block;
    font-size: 1.1rem;
    padding-inline: 10px;
    padding-block: 3px;
    border-radius: 25px;
    min-width: 50px;
    text-align: center;
    font-variation-settings: "wght" 500;
    font-weight: 500;
    cursor: default;
}

.csharp {
    background-color: #803089;
    color: #fff;
}

.python {
    background-color: #3670a0;
    color: #fff;
}

.winform {
    background-color: #c47c10;
    color: #fff;
}

.wpf {
    background-color: #045c9c;
    color: #fff;
}

.xaml {
    background-color: #e62a6a;
    color: #fff;
}

.tkinter {
    background-color: #d9d9d9;
    color: #000;
}

.vs {
    background-color: #6b237b;
    color: #fff;
}

.pe {
    background-color: #6d8b47;
    color: #fff;
}

.terminal {
    background-color: #000000;
    color: #ffffff;
}

.html {
    background-color: #f15c2a;
    color: #fff;
}

.css {
    background-color: #1774bb;
    color: #fff;
}

.js {
    background-color: #f4d945;
    color: #000;
}

.ts {
    background-color: #1e6fbf;
    color: #fff;
}

.node {
    background-color: #4b9145;
    color: #fff;
}

.firebase {
    background-color: #000;
    color: #ffa200;
}

.mongo {
    background-color: #001e2b;
    color: #00ed64;
}

.bootstrap {
    background-color: #7e12f9;
    color: #fff;
}

.jquery {
    background-color: #0868ab;
    color: #fff;
}

.git {
    background-color: #f05033;
    color: #fff;
}

.vscode {
    background: linear-gradient(to right, #0065A9, #0098FF);
    color: #fff;
}

.sublime {
    background-color: #4b4b4b;
    color: #f89704;
}

.numpy {
    background-color: #4d77cf;
    color: #fff;
}

.scikit {
    background-color: #000;
    color: #f89939;
}

.pytorch {
    background-color: #000;
    color: #f04c2c;
}

.jupyter {
    background-color: #F37626;
    color: #000;
}

.cnn {
    background-color: white;
    color: #000;
}

.skills::after {
    content: "";
    display: block;
    position: absolute;
    top: 7rem;
    z-index: -1;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, #202020ff 0%,
            rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 0) 90%, #202020ff 100%), url(/img/randomcode.png);
    background-size: 12%;
    bottom: 0;
    overflow: hidden;
    opacity: 0.03;
}

.featured {
    background-color: var(--dark-background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-light-color);
}

.featured .container {
    margin: 0 50px;
    padding: 100px 0px;
    max-width: 1000px;
}

.featured .section-title {
    display: flex;
    align-items: center;
    position: relative;
    margin: 10px 0px 40px;
    width: 100%;
    font-size: clamp(26px, 5vw, 3rem);
    white-space: nowrap;
    color: var(--text-light-color);
    font-weight: 900;
    font-family: 'Every', serif;
}

.featured .section-title::after {
    content: "";
    display: block;
    position: relative;
    top: 0;
    width: 40%;
    height: 1px;
    margin-left: 20px;
    background-color: #888;
}

.project-list {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.featured li.project {
    position: relative;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    isolation: isolate;
}

.featured .project:not(:last-of-type) {
    margin-bottom: 100px;
}

@media (max-width: 768px) {
    .featured .project:not(:last-of-type) {
        margin-bottom: 70px;
    }
}

@media (max-width: 480px) {
    .featured .project:not(:last-of-type) {
        margin-bottom: 30px;
    }
}


.featured .project:nth-of-type(2n+1) .project-content {
    grid-column: 7 / -1;
    text-align: right;
}

@media (max-width: 1080px) {
    .featured .project:nth-of-type(2n+1) .project-content {
        grid-column: 5 / -1;
    }
}

@media (max-width: 768px) {
    .featured .project:nth-of-type(2n+1) .project-content {
        grid-column: 1 / -1;
        padding: 40px 40px 30px;
        text-align: left;
    }
}

@media (max-width: 480px) {
    .featured .project:nth-of-type(2n+1) .project-content {
        padding: 25px 25px 20px;
    }
}

.featured .project:nth-of-type(2n+1) .project-tech-list {
    justify-content: flex-end;
}

@media (max-width: 768px) {
    .featured .project:nth-of-type(2n+1) .project-tech-list {
        justify-content: flex-start;
    }
}

.featured .project:nth-of-type(2n+1) .project-tech-list li {
    margin: 0 0 5px 20px;
}

@media (max-width: 768px) {
    .featured .project:nth-of-type(2n+1) .project-tech-list li {
        margin: 0 10px 5px 0;
    }
}

.featured .project:nth-of-type(2n+1) .project-links {
    justify-content: flex-end;
    margin-left: 0;
    margin-right: -10px;
}

@media (max-width: 768px) {
    .featured .project:nth-of-type(2n+1) .project-links {
        justify-content: flex-start;
        margin-left: -10px;
        margin-right: 0;
    }
}

.featured .project-content {
    position: relative;
    grid-column: 1 / 7;
    grid-row: 1 / -1;
}

@media (max-width: 1080px) {
    .featured .project-content {
        grid-column: 1 / 9;
    }
}

@media (max-width: 768px) {
    .featured .project-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        grid-column: 1 / -1;
        padding: 40px 40px 30px;
        z-index: 5;
    }
}

@media (max-width: 480px) {
    .featured .project-content {
        padding: 30px 25px 20px;
    }
}


.featured .project-overline {
    margin: 10px 0;
    color: var(--accent-color);
    font-family: 'Pangea', sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
}

.featured .project-title {
    color: var(--text-light-color);
}

.featured .project-title a {
    font-size: 2.5rem;
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    color: inherit;
    transition: var(--transition);

}

.featured .project-title a:hover,
.featured .project-title a:active,
.featured .project-title a:focus {
    color: var(--accent-color);
    outline: 0;
}

@media (min-width: 768px) {
    .featured .project-title {
        margin: 0 0 20px;
    }
}

@media (max-width: 768px) {
    .featured .project-title {
        color: var(--white);
    }

    .featured .project-title a {
        position: static;
    }

    .featured .project-title a:before {
        content: '';
        display: block;
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}

.featured .project-description {
    box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);
    position: relative;
    z-index: 2;
    padding: 25px;
    border-radius: 4px;
    background-color: #0c1627;
    color: var(--text-lighter-color);
    font-size: 1.125rem;
}

@media (max-width: 768px) {
    .featured .project-description {
        padding: 20px 0;
        background-color: transparent;
        box-shadow: none;
    }

    .featured .project-description:hover {
        box-shadow: none;
    }
}

.featured .project-description a {
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    position: relative;
    transition: var(--transition);
    color: var(--accent-color);
}

.featured .project-tech-list {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
    margin: 25px 0 10px;
    padding: 0;
    list-style: none;
}

.featured .project-tech-list li {
    margin: 0 20px 5px 0;
    color: var(--accent-color);
    font-family: 'Pangea', sans-serif;
    font-size: 0.875rem;
    white-space: nowrap;
}

@media (max-width: 768px) {
    .featured .project-tech-list {
        margin: 10px 0;
    }

    .featured .project-tech-list li {
        margin: 0 10px 5px 0;
        color: var(--text-light-color);
    }
}


.featured .project-links {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 10px;
    margin-left: -10px;
    color: var(--text-light-color);
}

.featured .project-links a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    color: inherit;
    position: relative;
    transition: var(--transition);
}

.featured .project-links a:hover,
.featured .project-links a:active,
.featured .project-links a:focus {
    color: var(--accent-color);
    outline: 0;
}

.featured .project-links a.external svg {
    width: 26px;
    height: 26px;
    margin-top: -4px;
}

.featured .project-links a svg {
    width: 26px;
    height: 26px;
}

.featured .project-image {
    box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    position: relative;
    z-index: -1;
}

.featured .project-image a {
    display: inline-block;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    font-size: 0;
    line-height: 0;
}

@media (min-width: 768px) {
    .featured li.project:nth-of-type(2n) .project-image {
        grid-column: 6 / -1;
    }

    .featured li.project:nth-of-type(2n+1) .project-image {
        grid-column: 1 / 8;
    }
}

.featured .project-image img {
    border-radius: 4px;
}

@media (max-width: 768px) {
    .featured .project-image {
        opacity: 0.25;
        height: 100%;
    }

    .featured .project-image img {
        object-fit: cover;
        width: auto;
        height: 100%;
        filter: grayscale(100%) contrast(1) brightness(50%);
    }
}

.emoji-text {
    color: var(--accent-color);
}

.other-projects {
    background-color: var(--dark-background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-light-color);
}

.other-projects .container {
    margin: 0 50px;
    padding: 100px 0px;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.other-projects .section-title {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    font-family: 'Every', serif;
    font-size: clamp(28px, 5vw, 3rem);
    width: 100%;
}

.other-projects .section-title h2 {
    display: inline;
}

.other-projects .section-title::before {
    content: "";
    display: inline-block;
    height: 1px;
    width: 25%;
    margin-right: 1.5rem;
    background-color: #888;
}

.other-projects .section-title::after {
    content: "";
    display: inline-block;
    height: 1px;
    width: 25%;
    margin-left: 1.5rem;
    background-color: #888;
}

.other-projects .projects-grid {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 15px;
    position: relative;
    margin-top: 50px;
}

@media (max-width: 1080px) {
    .other-projects .projects-grid {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}

.other-projects .more-button {
    color: var(--accent-color);
    background-color: transparent;
    border: 1px solid var(--accent-color);
    border-radius: 6px;
    font-size: 1rem;
    font-family: 'Pangea', sans-serif;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    transition: var(--transition);
    padding: 1rem 1.125rem;
    margin: 80px auto 0;
}

.other-projects .more-button:hover,
.other-projects .more-button:focus,
.other-projects .more-button:active {
    background-color: #66d9ed10;
    outline: none;
}

.other-projects .more-button::after {
    display: none !important;
}

.other-projects .project {
    position: relative;
    cursor: default;
    transition: var(--transition);
}

@media (prefers-reduced-motion: no-preference) {

    .other-projects .project:hover .project-inner,
    .other-projects .project:focus-within .project-inner {

        transform: translateY(-4px);

    }
}

.other-projects .project a {
    position: relative;
    z-index: 1;
}

.other-projects .project .project-inner {
    box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    height: 100%;
    padding: 2rem 1.75rem;
    border-radius: 6px;
    background-color: var(--darker-background-color);
    transition: var(--transition);
    overflow: auto;
}

.other-projects .project .project-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.other-projects .project .project-top .folder {
    color: var(--accent-color);
}

.other-projects .project .project-top .folder svg {
    width: 40px;
    height: 40px;
}

.other-projects .project .project-top .project-links {
    display: flex;
    align-items: center;
    margin-right: -10px;
    color: var(--text-lighter-color);
}

.other-projects .project .project-top .project-links a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 7px;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    color: inherit;
    position: relative;
    transition: var(--transition);
}

.other-projects .project .project-top .project-links a:hover,
.other-projects .project .project-top .project-links a:active,
.other-projects .project .project-top .project-links a:focus {
    color: var(--accent-color);
    outline: 0;
}


.other-projects .project .project-top .project-links a.external svg {
    width: 22px;
    height: 22px;
    margin-top: -4px;
}

.other-projects .project .project-top .project-links a svg {
    width: 20px;
    height: 20px;
}


.other-projects .project .project-title {
    margin: 0 0 10px;
    color: var(--text-light-color);
    font-family: 'Pangea', sans-serif;
    font-size: 1.625rem;
    font-weight: 600;
    font-variation-settings: "wght" 600;
}

.other-projects .project .project-title a {
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    color: inherit;
    transition: var(--transition);

    position: static;
}

.other-projects .project .project-title a:hover,
.other-projects .project .project-title a:active,
.other-projects .project .project-title a:focus {
    color: var(--accent-color);
    outline: 0;
}

.other-projects .project .project-title a:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.other-projects .project .project-description {
    color: var(--text-lighter-color);
    font-size: 17px;
}

.other-projects .project .project-description a {
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    position: relative;
    transition: var(--transition);
}


.other-projects .project .project-tech-list {
    display: flex;
    align-items: flex-end;
    flex-grow: 1;
    flex-wrap: wrap;
    padding: 0;
    margin: 20px 0 0 0;
    list-style: none;
}

.other-projects .project .project-tech-list li {
    font-size: 0.875rem;
    color: var(--accent-color);
    line-height: 1.75;
}

.other-projects .project .project-tech-list li:not(:last-of-type) {
    margin-right: 15px;
}

.other-projects .project-hidden {
    display: none;
}

.inline-link {
    display: inline !important;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    position: relative;
    border-bottom: solid 2px;
    border-bottom-color: rgb(102, 217, 237, 0);
    transition: all 100ms ease;
}

.inline-link:hover,
.inline-link:focus,
.inline-link:active {
    outline: 0;
    border-bottom-color: rgb(102, 217, 237, 255);
}

.other-projects .inline-link {
    color: var(--accent-color);
}